*{
    box-sizing:border-box;
}

#body
{
    background-color:#00BFFF;
}

#main
{
    margin:auto;
    width:50%;
    border:2px solid black;
    padding: 1% 5% 3%;
    background-color: #FFFFF0;    
}


.row::after{
    content:" ";
    clear:both;
    display:table;
}

[class *= "col-"]
{
    float:left;
    padding:15px;
    width:100;
}

/*For desktop devices*/
@media only screen and (min-width:768px)
{
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.add{
    width:20%;
    height:50px;
}

.user{
    text-align:center;
    padding:0px;
}

.icon{

    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;     
}

.btn
{
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position:relative;
    left:15%;
}

label{
    font-size: 125%;
}

#form
{
    border:2px solid red;
    padding:5%;
    background-color:#DCDCDC;
}
.title
{
    text-align:center;
}

.result
{
    color:red;
    font-style:italic;
}

#label
{
    font-size:30px;
    line-height:70px;
    margin:0 40px 0 0;
    display:block;
    cursor:pointer;
}

#toggle
{
    display:none;
}

#toggle:checked + .hlinks
{
    display:block;
}

.hlinks
{
   text-align:center;
   width:100px;
   display:none;
   border:3px solid black;
   /*padding:10px;*/
   
}

.hlinks a{
    display:block;
    text-decoration:none;
    margin:5px;
    padding:5px;
}

#status
{
    font-size:20px;
    color:red;
}



